body{
    background-color: aqua;
}
.x{
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background: yellow;
}
.a{
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color: yellow;
}
.b{
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color: yellow;
}
